* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

#title {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
}

#welcome, #leave {
  text-align: center;
  margin: 1em 0;
  font-family: 'Ubuntu', sans-serif;
}

#typing {
  text-align: center;
  position: fixed;
  margin: 1em auto;
  left: 0;
  right: 0;
  bottom: 65px;
  font-family: 'Ubuntu', sans-serif;
}

form {
  background: #C4C4C4;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  /* width: 90%; */
  font-family: 'Courier Prime', monospace;
}

form button {
  /* width: 8%; */
  font-family: 'Ubuntu', sans-serif;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  font-family: 'Courier Prime', monospace;
}

#messages li:nth-child(odd) {
  background: #eee;
}